<nav class="navbar">

  <div class="navbar-burger" data-target="navMenu" (click)="mobileMenuExpanded = !mobileMenuExpanded">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div id="navMenu" class="navbar-menu" [ngClass]="{'is-active': mobileMenuExpanded}">
    <div class="navbar-start">
      <span class="navbar-item">
        {{ 'system.hello' | translate }}
      </span>
    </div>

    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          {{language.title | translate}}
        </a>
        <div class="navbar-dropdown is-right">
          <a class="navbar-item" *ngFor="let lang of languages" (click)="setLanguage(lang)">
            {{lang.title | translate}}
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
