<nav class="navbar">

  <div class="container">
    <div class="navbar-burger" data-target="navMenu" (click)="mobileMenuExpanded = !mobileMenuExpanded">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <div id="navMenu" class="navbar-menu" [ngClass]="{'is-active': mobileMenuExpanded}">
      <div class="navbar-start">
        <!-- <span class="navbar-item">
          {{ 'system.hello' | translate }} {{isLoggedIn ? userInfo : ''}}
        </span> -->
        <a class="navbar-item is-flex" *ngFor="let menuItem of menuItems" [routerLink]="menuItem.url"
          [routerLinkActive]="'has-text-primary-dark'">
          <span class="icon mr-1">
            <mat-icon class="material-icons-outlined">{{menuItem.icon}}</mat-icon>
          </span>
          <span>{{ menuItem.title | translate }}</span>
        </a>
      </div>


      <div class="navbar-end">
        <div class="navbar-item">

          <a class="button is-primary" *ngIf="!isLoggedIn" [routerLink]="'/login'">
            {{'system.action.login' | translate}}
          </a>
          <button class="button is-light" *ngIf="isLoggedIn" (click)="logout()">
            {{'system.action.logout' | translate}}
          </button>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            {{language.title | translate}}
          </a>
          <div class="navbar-dropdown is-right">
            <a class="navbar-item" *ngFor="let lang of languages" (click)="setLanguage(lang)">
              {{lang.title | translate}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
